tads-dsd-bpel/bpelContent/bhaskaraProcessArtifacts.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tads.ifrn.edu.br/math/"
  xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" name="bhaskaraProcess"
  targetNamespace="http://tads.ifrn.edu.br/math/">

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
    TYPE DEFINITION - List of types participating in this BPEL process The BPEL 
    Designer will generate default request and response types but you can define 
    or import any XML Schema type and use them as part of the message types. 
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <plnk:partnerLinkType name="deltaPLT">
    <plnk:role name="deltaPLRole" portType="tns:DeltaInterface" />
  </plnk:partnerLinkType>
  <plnk:partnerLinkType name="bhaskaraPLT">
    <plnk:role name="bhaskaraPLRole" portType="tns:BhaskaraInterface" />
  </plnk:partnerLinkType>
  <import location="math.wsdl" namespace="http://tads.ifrn.edu.br/math/" />
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema"
      attributeFormDefault="unqualified" elementFormDefault="qualified"
      targetNamespace="http://tads.ifrn.edu.br/math/">

      <element name="bhaskaraProcessRequest">
        <complexType>
          <sequence>
            <element name="a" type="double" />
            <element name="b" type="double" />
            <element name="c" type="double" />
          </sequence>
        </complexType>
      </element>

      <element name="bhaskaraProcessResponse">
        <complexType>
          <sequence>
            <element name="x1" type="double" />
            <element name="x2" type="double" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>


  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
    MESSAGE TYPE DEFINITION - Definition of the message types used as part of 
    the port type defintions ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <message name="bhaskaraProcessRequestMessage">
    <part element="tns:bhaskaraProcessRequest" name="payload" />
  </message>
  <message name="bhaskaraProcessResponseMessage">
    <part element="tns:bhaskaraProcessResponse" name="payload" />
  </message>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
    PORT TYPE DEFINITION - A port type groups a set of operations into a logical 
    service unit. ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

  <!-- portType implemented by the bhaskaraProcess BPEL process -->
  <portType name="bhaskaraProcess">
    <operation name="process">
      <input message="tns:bhaskaraProcessRequestMessage" />
      <output message="tns:bhaskaraProcessResponseMessage" />
    </operation>
  </portType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
    PARTNER LINK TYPE DEFINITION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <plnk:partnerLinkType name="bhaskaraProcess">
    <plnk:role name="bhaskaraProcessProvider" portType="tns:bhaskaraProcess" />
  </plnk:partnerLinkType>


  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
    BINDING DEFINITION - Defines the message format and protocol details for 
    a web service. ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <binding name="bhaskaraProcessBinding" type="tns:bhaskaraProcess">
    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="process">
      <soap:operation soapAction="http://tads.ifrn.edu.br/math/process" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
    SERVICE DEFINITION - A service groups a set of ports into a service unit. 
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <service name="bhaskaraProcessService">
    <port binding="tns:bhaskaraProcessBinding" name="bhaskaraProcessPort">
      <soap:address
        location="http://localhost:8888/ode/processes/bhaskaraProcess" />
    </port>
  </service>
</definitions>
