tads-dsd-bpel/bpelContent/math.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://tads.ifrn.edu.br/math/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="math"
  targetNamespace="http://tads.ifrn.edu.br/math/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tads.ifrn.edu.br/math/">
      <xsd:element name="entradaBhaskara">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="a" type="xsd:double" />
            <xsd:element name="b" type="xsd:double" />
            <xsd:element name="delta" type="xsd:double" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="entradaTernaria">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="a" type="xsd:double" />
            <xsd:element name="b" type="xsd:double" />
            <xsd:element name="c" type="xsd:double" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="respostaUnaria">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="r" type="xsd:double" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="respostaBinaria">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="x1" type="xsd:double" />
            <xsd:element name="x2" type="xsd:double" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="bhaskaraRequest">
    <wsdl:part element="tns:entradaBhaskara" name="parameters" />
  </wsdl:message>
  <wsdl:message name="bhaskaraResponse">
    <wsdl:part element="tns:respostaBinaria" name="parameters" />
  </wsdl:message>
  <wsdl:message name="deltaRequest">
    <wsdl:part element="tns:entradaTernaria" name="parameters" />
  </wsdl:message>
  <wsdl:message name="deltaResponse">
    <wsdl:part element="tns:respostaUnaria" name="parameters" />
  </wsdl:message>
  <wsdl:portType name="BhaskaraInterface">
    <wsdl:operation name="bhaskara">
      <wsdl:input message="tns:bhaskaraRequest" />
      <wsdl:output message="tns:bhaskaraResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DeltaInterface">
    <wsdl:operation name="delta">
      <wsdl:input message="tns:deltaRequest" />
      <wsdl:output message="tns:deltaResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="bhaskaraSOAP" type="tns:BhaskaraInterface">
    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="bhaskara">
      <soap:operation soapAction="http://tads.ifrn.edu.br/math/bhaskara" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="deltaSOAP" type="tns:DeltaInterface">
    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="delta">
      <soap:operation soapAction="http://tads.ifrn.edu.br/math/delta" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="bhaskara">
    <wsdl:port binding="tns:bhaskaraSOAP" name="bhaskaraSOAP">
      <soap:address location="http://localhost:8080/math/bhaskara" />
    </wsdl:port>
  </wsdl:service>
  <wsdl:service name="delta">
    <wsdl:port binding="tns:deltaSOAP" name="deltaSOAP">
      <soap:address location="http://localhost:8080/math/delta" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
