tads-dsd-soap/Calculadora.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost:9090/Calculadora/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Calculadora"
  targetNamespace="http://localhost:9090/Calculadora/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost:9090/Calculadora/">
      <xsd:element name="soma">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="parcela1" type="xsd:double" />
            <xsd:element name="parcela2" type="xsd:double"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="somaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="resultado" type="xsd:double" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="somaRequest">
    <wsdl:part element="tns:soma" name="parameters" />
  </wsdl:message>
  <wsdl:message name="somaResponse">
    <wsdl:part element="tns:somaResponse" name="parameters" />
  </wsdl:message>
  <wsdl:portType name="Calculadora">
    <wsdl:operation name="soma">
      <wsdl:input message="tns:somaRequest" />
      <wsdl:output message="tns:somaResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalculadoraSOAP" type="tns:Calculadora">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="soma">
      <soap:operation soapAction="http://localhost:9090/Calculadora/soma" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Calculadora">
    <wsdl:port binding="tns:CalculadoraSOAP" name="CalculadoraSOAP">
      <soap:address location="http://localhost:9090/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
